[submodule "external/pyKinectAzure"]
	path = external/pyKinectAzure
	url = https://github.com/YoruCathy/pyKinectAzure.git
[submodule "external/NetFT"]
	path = external/NetFT
	url = https://github.com/YoruCathy/NetFT.git
[submodule "FX29K_for_Arduino"]
	path = FX29K_for_Arduino
	url = https://github.com/YoruCathy/FX29K_for_Arduino.git
